*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{

background:#4e54c8;
background:linear-gradient(135deg,#4e54c8,#8f94fb);

display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

.container{

width:700px;

background:white;

padding:30px;

border-radius:15px;

box-shadow:0 10px 25px rgba(0,0,0,.3);

}

h1{

text-align:center;

margin-bottom:20px;

}

.input-section{

display:flex;

gap:10px;

margin-bottom:20px;

}

input[type=text]{

flex:2;

padding:12px;

font-size:16px;

}

input[type=datetime-local]{

flex:1;

padding:10px;

}

button{

padding:12px 18px;

background:#4e54c8;

color:white;

border:none;

cursor:pointer;

border-radius:5px;

}

button:hover{

background:#3439b5;

}

ul{

list-style:none;

}

li{

display:flex;

justify-content:space-between;

align-items:center;

padding:15px;

margin-top:10px;

background:#f4f4f4;

border-radius:8px;

}

.completed{

text-decoration:line-through;

color:gray;

}

.task-info{

display:flex;

flex-direction:column;

}

.task-buttons button{

margin-left:5px;

}

.edit{

background:orange;

}

.delete{

background:red;

}

.complete{

background:green;

}

@media(max-width:700px){

.container{

width:95%;

}

.input-section{

flex-direction:column;

}

}